
/* css for sample app view */
#ov-applications {
    padding: 20px;
}
.light #ov-applications {
    color: navy;
}
.dark #ov-applications {
    color: #88f;
}
#ov-applications .button-panel {
    margin: 10px;
    width: 200px;
}
.light #ov-applications .button-panel {
    background-color: #ccf;
}
.dark #ov-applications .button-panel {
    background-color: #444;
}

#ov-applications .my-button {
    cursor: pointer;
    padding: 4px;
    text-align: center;
}

.light #ov-applications .my-button {
    color: white;
    background-color: #99d;
}
.dark #ov-applications .my-button {
    color: black;
    background-color: #aaa;
}
#ov-applications .number {
    font-size: 140%;
    text-align: right;
}
#ov-applications .quote {
    margin: 10px 20px;
    font-style: italic;
}

#ov-cluster h2 {
    display: inline-block;
}

#ov-cluster div.ctrl-btns {
    width: 45px;
}


/* More in generic panel.css */

#cluster-details-panel.floatpanel {
    z-index: 0;
}


#cluster-details-panel .web-container {
    padding: 8px 12px;
}

#cluster-details-panel .close-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

#cluster-details-panel .dev-icon {
    display: inline-block;
    padding: 0 6px 0 0;
    vertical-align: middle;
}

#cluster-details-panel h2 {
    display: inline-block;
    margin: 8px 0;
}

#cluster-details-panel .top-content table {
    font-size: 12pt;
}

#cluster-details-panel td.label {
    font-weight: bold;
    text-align: right;
    padding-right: 6px;
}